:root{
    --text-color: wheat;
    --bg-color : #2e2e2e;
    --accent-color: rgb(51, 49, 61);
    --icon-color: wheat;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: 'Dosis', sans-serif;
    color: var(--text-color);
    font-weight: 100;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: 1s; 
}

body.light{
    --bg-color: white;
    --text-color: #2e2e2e;
    --accent-color: rgb(207, 206, 211);
    --icon-color: rgb(75, 75, 75);
}

.text-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    margin: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 75px;
    gap: 2em;

    position: absolute;
    bottom: 0;
}

.nav-item{
    width: 75px;
    height: 75px;
    background-color: var(--accent-color);
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 75px;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-item svg{
    width: 100%;
    height: 100%;
    color: var(--icon-color);
}

@media screen and (max-width: 600px) {
    nav{
        position: absolute;
        bottom: 0;

        margin: 0px 0px 10px 0px;
        width: 100vw;
        height: 75px;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
    }
}
